<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        /* CLIENT-SPECIFIC STYLES */
        html {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 9pt;
            width: 210mm;
        }
        @@media print {
            @@page {
                size: auto;
                margin: 0;
                margin-bottom: 1cm;

                @@bottom-center {
                    border-top: .25pt solid #666;
                    content: counter(page) " / " counter(pages);
                    font-size: 9pt;
                    color: #333;
                }
            }
            @@page :blank {
                @@top-center { content: "This page is intentionally left blank." }
            }
            body {
                margin: 1.6cm;
            }
        }
        h1, h2, h3, h4, h5 {
            page-break-after: avoid;
        }
        table, figure {
            page-break-inside: avoid;
        }
        .new-page, .pagebreak-before {
            page-break-before: always;
        }
        h2, h3, h4, h5, h6 {
            font-size: 1.2rem;
            font-weight: bold;
            padding: 0;
            margin: 0;
            margin-top: .5em;
        }
        table {
            margin: 0;
            width: 100%;
            border-collapse: collapse;
        }
        table td, table th {
            text-align: left;
            padding: 3px 0;
        }
        table.table tr td, table.table tr th {
            border: 1px solid gray;
            padding: 3px;
        }
        table.fixed {
            table-layout: fixed;
        }
        table td.number-column {
            top1cm;
        }
        table td.vertical-top {
            vertical-align: top;
        }
        .document-logo {
            padding-top: 20px;
        }
        .no-bold,
        .no-bold td {
            font-weight: normal;
            font-size: 1em;
        }
        .bottom {
            vertical-align: bottom;
        }
        .center {
            text-align: center;
        }
        .left {
            text-align: left;
        }
        .right {
            text-align: right;
        }
        .hidden {
            display: none;
        }
        p {
            text-align: justify;
            padding: 0;
            margin: 0 0 0.3em;
        }
        article {
            page-break-after: always;
        }
        section {
            margin-bottom: 5px;
        }
        header#document-title, header#page-title {
            padding-top: 5px;
        }
        header#document-title h1, header#page-title h1 {
            text-align: center;
            font-weight: 100;
        }
        .signature {
            font-weight: normal;
            font-size: 0.7em;
            border-bottom: 1px dotted gray;
            vertical-align: bottom;
        }
        .signature-space {
            padding-top: 1cm;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>